html {
	background: #5f5f5f;
}

body {
	color: #444444;
}

aside {
	background-color: #f4f4f4;
	border: 1px solid #000;
}

footer {
	margin: auto;
	text-align: center;
	width: 770px;
}

a:active, a:visited, a:link {
	color: #444444;
}

a:hover {
	color: #888888;
}